* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
}
body {
    width: 100%;
  height: 100%;
  
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("../assects/backgroundimage2.png");
     background-size: cover;
     background-attachment: fixed;

}
    /* nav bar */
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 60px 0 60px;
        margin-top: 55px;
    }
     ul {
        display: flex;
     
        align-items: center;
        gap: 63px;
       list-style: none;
          font-family: "Red Rose";
        font-style: normal;
        font-weight: 400;
      font-size: 18px;
        line-height: 22px;
      color: #ffc233;

    }
    ul li {
        cursor: pointer;
    }
   .Logo {
    cursor: pointer;
   }
   
.smallbutton {
    padding: 12 px 40px;
    background-color: #ff505f;
    border: none;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
}
   .hero {
    max-width: 1154px;
    margin: 0 auto;
    text-align: center;
    margin-top: 119px;
   }
    .heroheading {
        font-family: "Dela Gothic One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 104px;
  line-height: 114px;
  /* or 110% */
  color: #ffc233;
    }
.largebutton {
    background: #ff505f;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    border: none;
    padding: 24px 56px;
    margin-top: 64px;
    cursor: pointer;
}
.bottom {
    position: absolute;
  bottom: 10px;
  right: 10px;
}